<%= form_for(@passenger) do |f| %>
<% if @passenger.errors.any? %>
<div id="error_explanation">
   <h2><%= pluralize(@passenger.errors.count, "error") %> prohibited this passenger from being saved:</h2>

   <ul>
        <% @passenger.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
   </ul>
</div>
<% end %>

<div class="form-group">
 <%= f.label :name %><br>
 <%= f.text_field :name, class: 'form-control' %>
</div>
<div class="form-group">
 <%= f.label :identification %><br>
 <%= f.text_field :identification, class: 'form-control' %>
</div>
<div class="form-group">
 <%= f.label :email %><br>
 <%= f.text_field :email, class: 'form-control' %>
</div>
<div class="form-group">
 <%= f.label :phone %><br>
 <%= f.text_field :phone, class: 'form-control' %>
</div>
<div class="form-group">
 <%= f.label :address %><br>
 <%= f.text_field :address, class: 'form-control' %>
</div>
<div class="actions text-xs-right">
 <%= f.submit 'Aceptar', :class => 'btn btn-primary' %>
</div>
<% end %>
