  <p id="notice"><%= notice %></p>

  <h1>Lista de Pasajeros</h1>

  <table class="table table-responsed table-striped table-hover">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>identificación</th>
        <th>Correo Electrónico</th>
        <th>Celular</th>
        <th>Dirección</th>
        <th colspan="3">Acciones</th>
      </tr>
    </thead>

    <tbody>
      <% @passengers.each do |passenger| %>
      <tr>
        <td><%= passenger.name %></td>
        <td><%= passenger.identification %></td>
        <td><%= passenger.email %></td>
        <td><%= passenger.phone %></td>
        <td><%= passenger.address %></td>
        <td class="actions">
          <%= link_to(passenger) do %>
          <%= fa_icon("eye", text: "Detalle") %>
          <% end %>
        </td>
        <td class="actions">
          <%= link_to(edit_passenger_path(passenger)) do %>
          <%= fa_icon("pencil", text: "Editar") %>
          <% end %>
        </td>
        <td class="actions">
          <%= link_to(passenger, method: :delete, data: { confirm: '¿Está seguro de eliminar el pasajero?' }) do %>
          <%= fa_icon("times", text: "Eliminar") %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to(new_passenger_path) do %>
  <%= fa_icon("plus-circle", text: "Agregar nuevo pasajero") %>
  <% end %>
