<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @passenger.name %>
</p>

<p>
  <strong>Identificación:</strong>
  <%= @passenger.identification %>
</p>

<p>
  <strong>Email:</strong>
  <%= @passenger.email %>
</p>

<p>
  <strong>Celular:</strong>
  <%= @passenger.phone %>
</p>

<p>
  <strong>Dirección:</strong>
  <%= @passenger.address %>
</p>

<%= link_to 'Editar', passenger_edit_path(@passenger.id) %> |
<%= link_to 'Volver', passenger_flights_show_path(@passenger.flight_id) %>
