<p id="notice"><%= notice %></p>

<h1>Lista de Aviones</h1>

<table class="table table-responsed table-striped table-hover">
  <thead>
    <tr>
      <th>Modelo</th>
      <th>Código</th>
      <th>Compañia</th>
      <th colspan="3">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @airplanes.each do |airplane| %>
      <tr>
        <td><%= airplane.model %></td>
        <td><%= airplane.code %></td>
        <td><%= airplane.company %></td>
        <td class="actions">
          <%= link_to(airplane) do %>
            <%= fa_icon("eye", text: "Detalle") %>
          <% end %>
        </td>
        <td class="actions">
          <%= link_to(edit_airplane_path(airplane)) do %>
            <%= fa_icon("pencil", text: "Editar") %>
          <% end %>
        </td>
        <td class="actions">
          <%= link_to(airplane, method: :delete, data: { confirm: '¿Está seguro de eliminar el avión?' }) do %>
            <%= fa_icon("times", text: "Eliminar") %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

 <%= link_to(new_airplane_path) do %>
            <%= fa_icon("plus-circle", text: "Agregar nuevo Avión") %>
          <% end %>
