<p id="notice"><%= notice %></p>

<p>
  <strong>Modelo:</strong>
  <%= @airplane.model %>
</p>

<p>
  <strong>Código:</strong>
  <%= @airplane.code %>
</p>

<p>
  <strong>Compañia:</strong>
  <%= @airplane.company %>
</p>

<%= link_to 'Editar', edit_airplane_path(@airplane) %> |
<%= link_to 'Volver', airplanes_path %>
