<%= form_for(@user) do |f| %>
<% if @user.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

  <ul>
    <% @user.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="form-group">
  <%= f.label :name, 'Nombres' %><br>
  <%= f.text_field :name, class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.label :last_name, 'Apellidos' %><br>
  <%= f.text_field :last_name, class: 'form-control'%>
</div>
<div class="form-group">
  <%= f.label :email %><br>
  <%= f.text_field :email, class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.label :user_name, 'Usuario' %><br>
  <%= f.text_field :user_name, class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.label :password, 'Contraseña' %><br>
  <%= f.password_field :password, class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.label :password_confirmation, 'Confirmación Contraseña' %><br>
  <%= f.password_field :password_confirmation, class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.label :status, 'Estado' %><br>
  <%= f.check_box :status %>
</div>
<div class="actions text-xs-right">
  <%= f.submit 'Aceptar', :class => 'btn btn-primary' %>
</div>
<% end %>
