<p id="notice"><%= notice %></p>

<p>
  <strong>Nombres:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Apellidos:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @user.user_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Password digest:</strong>
  ●●●●●●●●●
</p>

<p>
  <strong>Estado:</strong>
  <%= @user.status ? 'Activo' : 'Inactivo' %>
</p>

<%= link_to 'Editar', edit_user_path(@user) %> |
<%= link_to 'Volver', users_path %>
