<p id="notice"><%= notice %></p>

<p>
  <strong>Token:</strong>
  <%= @token.token %>
</p>

<p>
  <strong>Name:</strong>
  <%= @token.name %>
</p>

<p>
  <strong>Number request:</strong>
  <%= @token.number_request %>
</p>

<p>
  <strong>Active:</strong>
  <%= @token.active %>
</p>

<%= link_to 'Edit', edit_token_path(@token) %> |
<%= link_to 'Back', tokens_path %>
