<%= form_for(@passenger_flight) do |f| %>
  <% if @passenger_flight.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@passenger_flight.errors.count, "error") %> prohibited this passenger_flight from being saved:</h2>

      <ul>
      <% @passenger_flight.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :passenger_id %><br>
    <%= f.number_field :passenger_id %>
  </div>
  <div class="field">
    <%= f.label :flight_id %><br>
    <%= f.number_field :flight_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
