<p id="notice"><%= notice %></p>

<p>
  <strong>Passenger:</strong>
  <%= @passenger_flight.passenger_id %>
</p>

<p>
  <strong>Flight:</strong>
  <%= @passenger_flight.flight_id %>
</p>

<%= link_to 'Edit', edit_passenger_flight_path(@passenger_flight) %> |
<%= link_to 'Back', passenger_flights_path %>
