<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @passenger.name %>
</p>

<p>
  <strong>Identification:</strong>
  <%= @passenger.identification %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @passenger.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @passenger.email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @passenger.address %>
</p>

<%= link_to 'Edit', passenger_edit(@passenger) %> |
<%= link_to 'Back', passenger_flights_show(@passenger.flight_id) %>
