<% collection = JSON.parse(@flight.countries).map {|c| [ c['name'], c['name'] ] } %>


<%= form_for(@flight) do |f| %>
<% if @flight.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@flight.errors.count, "error") %> prohibited this flight from being saved:</h2>

  <ul>
    <% @flight.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="form-group">
  <%= f.label :origin, 'Origen' %><br>
  <%= select(:flight, :origin, options_for_select(collection, @flight.origin), {}, { :class=>'form-control' }) %>
</div>
<div class="form-group">
  <%= f.label :destiny, 'Destino' %><br>
  <%= select(:flight, :destiny, options_for_select(collection, @flight.destiny), {}, { :class=>'form-control' }) %>
</div>
<div class="form-group">
  <%= f.label :date, 'Fecha y Hora' %><br>
  <div class='input-group date' id='datetimepicker1'>
   <%= f.text_field :date, class: 'form-control' %>
   <span class="input-group-addon">
    <span class="glyphicon glyphicon-calendar"></span>
  </span>
</div>

</div>
<div class="form-group">
  <%= f.label :airplane_id, 'Avión' %><br>
  <%= f.collection_select :airplane_id, Airplane.all, :id, :name_airplane, {}, { :class => 'form-control' } %>

</div>
<div class="actions text-xs-right">
  <%= f.submit 'Aceptar', :class => 'btn btn-primary' %>
</div>
<% end %>

<script type="text/javascript">
$(function () {
  $('#datetimepicker1').datetimepicker({
    format: 'DD-MM-YYYY hh:mm a'
  });
});
</script>