<p id="notice"><%= notice %></p>

<h1>Lista de Vuelos</h1>

<table class="table table-responsed table-striped table-hover">
  <thead>
    <tr>
      <th>Origen</th>
      <th>Destino</th>
      <th>Fecha y Hora</th>
      <th>Avión</th>
      <th colspan="3">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @flights.each do |flight| %>
    <tr>
      <td><%= flight.origin %></td>
      <td><%= flight.destiny %></td>
      <td><%= flight.date %></td>
      <td><%= flight.airplane %></td>

      <td class="actions">
        <%= link_to(flight) do %>
        <%= fa_icon("eye", text: "Detalle") %>
        <% end %>
      </td>
      <td class="actions">
        <%= link_to(edit_flight_path(flight)) do %>
        <%= fa_icon("pencil", text: "Editar") %>
        <% end %>
      </td>
      <td class="actions">
        <%= link_to(flight, method: :delete, data: { confirm: '¿Está seguro de eliminar el vuelo?' }) do %>
        <%= fa_icon("times", text: "Eliminar") %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to(new_flight_path) do %>
<%= fa_icon("plus-circle", text: "Agregar nuevo Vuelo") %>
<% end %>
