<p id="notice"><%= notice %></p>

<p>
  <strong>Origen:</strong>
  <%= @flight.origin %>
</p>

<p>
  <strong>Destino:</strong>
  <%= @flight.destiny %>
</p>

<p>
  <strong>Fecha y Hora:</strong>
  <%= @flight.date_flight %>
</p>

<p>
  <strong>Avión:</strong>
  <%= @flight.airplane.name_airplane %>
</p>

<%= link_to 'Editar', edit_flight_path(@flight) %> |
<%= link_to 'Volver', flights_path %>
